<div class="container mt-5">
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <div class="card" style="width: 48rem;"> 
      <img [src]="productImage" class="card-img-top"  width="250" height="250">
      <label class="image-upload-container btn btn-bwm">
        <span>Select Image</span>
        <input #imageInput type="file" accept="image/*" (change)="onchange($event)">
      </label>
      <div class="card-body">
        <h5 class="card-title">Brand Name</h5>
        <p class="card-text">
          <input id="brandName" class="form-control" formControlName="brandName" required/>          
        </p>
        <div *ngIf="f.brandName.errors?.['required']  && (f.brandName.dirty || f.brandName.touched)" class="errorlabel">Brand Name is required.</div>
      </div>
      <div class="card-body">
      <input type="submit" value="Submit" class="btn btn-sm btn-primary mt-4 m-1"/>
      <input type="button" class="btn btn-sm btn-danger mt-4 m-1" (click)="resetForm()" value="Reset" />
      <input type="button" class="btn btn-sm btn-info mt-4 m-1" (click)="backToList()" value="Back To List" />
    </div> 
    </div>
  </form>
</div>